body{
    background-color: #c15151;

}

  
.time{
    color: blue;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;


}

/* .homebuts{
    color: #c15151;
} */


.back-button{
    stroke-opacity: #c15151;
}