button{
   
    font-size: large;
    padding: 1% 1% 1% 1%;
    border-style: solid; 
    border-radius: 20px;
    color: beige
    

  }

  a:visited{
    color:white;
  }


a:link {
    color: white;
    text-decoration: none;
    font-family: "playfair display";
    margin-top: 1%;
    margin-bottom: 1%;
  }

  body{
    background-color: #c15151;

}

  

.logo{
  position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}






.menu{
    color: blue;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

a:visited{
    color:white;
  }


a:link {
    color: white;
    text-decoration: none;
    font-family: "playfair display";
    margin-top: 1%;
    margin-bottom: 1%;
  }