
body{
    background-color: #c15151;

}

  
.menu{
    color: blue;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

a:visited{
    color:white;
  }


a:link {
    color: white;
    text-decoration: none;
    font-family: "playfair display";
    margin-top: 1%;
    margin-bottom: 1%;
  }