
body{
    background-color: #c15151;

}


@media screen and (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}

  

.logo{
  display: flex;
  justify-content: center;

}






.menu{
    color: blue;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

a:visited{
    color:white;
  }


a:link {
    color: white;
    text-decoration: none;
    font-family: "playfair display";
    margin-top: 1%;
    margin-bottom: 1%;
  }